<div class="row">
	<div class="col-md-8 offset-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Category</th>
					<th scope="col">Price</th>
					<th scope="col">Studio</th>
					<th scope="col">Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ movie?.name }}</td>
					<td>{{ movie?.category }}</td>
					<td>{{ movie?.price | currency: 'USD' }}</td>
					<td>{{ movie?.studio.name }}</td>
					<td *ngFor="let r of movie?.ratings">{{ r.stars || 0 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
